a234c35
style.css
  white-space: nowrap;
  text-align: center;
  pointer-events: none;
  z-index: 9999;
}

/* =========================================
   LETTERS
========================================= */

.center-text span {
  display: inline-block;
  position: relative;
  z-index: 10000;
  color: white;
  opacity: 0;
  font-size:   
    clamp(1rem, 5vw + 1vh, 5rem);
  line-height: 1.1;
  transform: translateY(140vh);
  text-shadow:
    0 0 8px rgba(255,255,255,0.35);
  will-change:
    transform,
    opacity,
    text-shadow;
  animation:
    letterMove var(--text-duration) ease forwards,
    silverFlash 2.2s ease-in-out infinite;
  animation-delay:
    calc(var(--i) * var(--letter-stagger)),
    13s;
}

/* =========================================
   TEXT ANIMATION
========================================= */

@keyframes letterMove {

  /* Start unten */
  0% {
    opacity: 0;
    transform: translateY(120vh);
  }

  /* Ganz oben */
  20% {
    opacity: 1;
    transform: translateY(-40vh);
  }

  /* Zur Mitte */
  35% {
    opacity: 1;
    transform: translateY(0);
  }

  /* In Mitte bleiben */
  70% {
    opacity: 1;
    transform: translateY(0);
  }

  /* Nach unten */
  100% {
    opacity: 1;
    transform:
      translateY(35em);
  }
}

/* =========================================
   SILBER FLASH
========================================= */

@keyframes silverFlash {

  0% {
    text-shadow:
      0 0 8px rgba(255,255,255,0.35);
  }

  50% {
    text-shadow:
      0 0 12px rgba(255,255,255,1),
      0 0 28px rgba(220,220,220,0.95),
      0 0 60px rgba(180,180,180,0.85),
      0 0 100px rgba(255,255,255,0.6);
  }

  100% {
    text-shadow:
      0 0 8px rgba(255,255,255,0.35);
  }
}

/* =========================================
   RESPONSIVE
========================================= */

@media (max-height: 850px) {

  .image-wrapper {
    height: auto;
    padding-bottom: 0px;
  }

  .logo {
    height: auto;

    max-height:
      calc(
        100vh - 10px
      );

    object-fit: contain;
  }
}

@media (max-width: 900px) {

  .center-text span {
    font-size:
      clamp(1rem, 7vw, 3rem);
  }
}

@media (max-width: 600px) {

  .center-text span {
    font-size:
      clamp(0.9rem, 8vw, 2rem);
  }
}
